@page "/"
@using BlazorSSRDataTransferBetweenPages.Components.Shared

<PageTitle>Home</PageTitle>

<h1>Transfer data between pages Blazor SSR</h1>


<div class="container">
    <div class="row">
    <div class="col-sm-6">
        <TransferDataUsingQueryString />
    </div>
    <div class="col-sm-6">
        <TransferDataUsingCookies />
    </div>
    </div>
</div>


<h2>Query String</h2>



